.home-content {
  padding: 1rem;
  box-sizing: border-box;

  .logos-container {
    display: flex;
    flex-wrap: wrap;

    .club-logo,
    .ascenso-mx-logo,
    .copa-mx-logo {
      text-align: center;
      align-self: center;
      border: 1px solid red;
      box-sizing: border-box;
    }

    .club-logo img,
    .ascenso-mx-logo img,
    .copa-mx-logo img {
      width: 40%;
    }

    .club-logo {
      width: 100%;
    }

    .ascenso-mx-logo,
    .copa-mx-logo {
      width: 50%;
      cursor: pointer;
    }
  }
}