.home-content {
  padding: 1rem;
  box-sizing: border-box;

  .logos-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .club-logo,
    .ascenso-mx-logo,
    .copa-mx-logo {
      align-self: center;
      box-sizing: border-box;
    }

    .club-logo img,
    .ascenso-mx-logo img,
    .copa-mx-logo img {
      width: 40%;
    }

    .club-logo {
      width: 100%;
    }

    .ascenso-mx-logo,
    .copa-mx-logo {
      cursor: pointer;
      padding: 1.6rem 0;
      flex: 1 1 0px;
    }

    .club-logo {
      text-align: center;
    }

    .copa-mx-logo {
      text-align: right;
      margin-right: .8rem;
    }

    .ascenso-mx-logo {
      text-align: left;
      margin-left: .8rem;
    }
  }
}