.left-sidebar {
  //border: 1px solid blue;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  box-sizing: border-box;
  z-index: 1;

  .logo {
    background: url('../../assets/menubackground.png');
    background-size: cover;
    height: 200px;
    box-sizing: border-box;
    padding: 1rem;

    &-img {
      width: 80px;
      height: 80px;
    }
  }

  .aside-content {
    padding: 1rem;
    background-color: #FAFAFA;

    .menu{
      list-style: none;
      padding: 0;
      margin: 0;
      &-item{
        margin-bottom: 1rem;
        & a{
          text-decoration: none;
          color: #2c3e50;
          &.active{
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .left-sidebar{
    visibility: visible;
    position: unset;
    max-width: 400px;
  }
}